<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: dimgray;">
    <div class="container">
      <a class="navbar-brand" href="#"><span class="text-info"><i><b>ARS</b></i></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>&nbsp;
         <li>
            <a href="/rooms" routerLink="rooms">Rooms</a>
        </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Your Bookings</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="#contactus">LogOut</a>
          </li>
          
          </ul>
               </div>
    </div>
  </nav><br><br>
  <div class="container-fluid" id="container1">
    <div class="row">
      <div class="col-md-12"><br>
        <h1 id="text">Giving The Best<br>Just For You!</h1>
        <mat-list id="text2">
            <mat-list-item><h3>Book a Room</h3></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><h3>Book a Room service</h3></mat-list-item>
            <mat-divider></mat-divider>
            
          </mat-list>
          
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<img src="/assets/images/bg.jpg" height="570px" width="1330px">
    </div>
</div>
</div><br>
<router-outlet></router-outlet>