<section id="product" class="product section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2 style="font-family: Brush Script MT, cursive;">Rooms</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/1.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/2.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/3.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div><br> 
      </div>
<br><br>

      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/4.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/5.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pb-2">
            <div class="card-body text-dark">
              <div class="img-area mb-3">
                <img src="/assets/images/6.jpg" alt="" class="img-fluid" style="height: 250px;">
              </div>
              <button class="btn bg-warning text-dark">Book Now</button>
            </div>
          </div>
        </div><br> 
      </div>
    </div>
  </section>
  